@if(!getListItems().length) {

<div class="container">
  <img
    src="/assets/img/task-list-null.png"
    alt="Imagem lista vazia"
    loading="eager"
  />

  @if(addItem()) {
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de tarefas
  </button>

  } @else {
  <app-input-add-item
    [inputListItems]="getListItems()"
    (outputAddListItems)="getInputAndAddItem($event)"
  ></app-input-add-item>
  }
</div>

} @else {
<app-input-add-item
  [inputListItems]="getListItems()"
  (outputAddListItems)="getInputAndAddItem($event)"
></app-input-add-item>
<main class="container">
  @if(listItemsStage('pending').length > 0) {
  <h2>Pendencias</h2>
  <app-input-list-item
    [inputListItems]="listItemsStage('pending')"
    (outputUpdateItemCheckBox)="updateItemCheckBox($event)"
    (outputUpdateItemText)="updateItemText($event)"
    (outputDeleteItem)="deleteItem($event)"
  ></app-input-list-item>
  } @if(listItemsStage('completed').length > 0) {
  <h2>Concluidas</h2>
  <app-input-list-item
    [inputListItems]="listItemsStage('completed')"
    (outputUpdateItemCheckBox)="updateItemCheckBox($event)"
    (outputUpdateItemText)="updateItemText($event)"
    (outputDeleteItem)="deleteItem($event)"
  ></app-input-list-item>
  }
</main>

<footer>
  <button class="btn btn-danger" (click)="deleteAllItems()">
    Deletar todos os itens
  </button>
</footer>
}
